.footer {
  background-color: #334b3b;
  line-height: 45px;
  padding: 100px 0 90px;
}

.footer .nav-link,
.footer .copyright a,
.footer .adres a {
  color: #fff;
}

.logo img {
  max-height: 90px;
  height: auto;
  width: auto;
  max-width: 213px;
}

.footer .nav-link,
.footer .copyright,
.footer .adres a {
  font-size: 16px;
}
