@import "variables";
@import "~bootstrap";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://use.typekit.net/tks8jzx.css");

/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  // font-family: Arial, sans-serif;

  overflow-x: hidden;
}

//To ensure that when the down arrow is clicked, the page will smoothly scroll to the section with the ID #content
html {
  scroll-behavior: smooth;
}

body {
  background-color: #405f4f;
  color: #fff;
  font-family: Inclusive Sans, sans-serif;
  font-size: 20px;
  line-height: 35px;
  text-wrap: pretty;
}

a:any-link {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

// h2 {
//   font-size: 39px;
// }

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: "Henderson-sans-basic", sans-serif;
}

p {
  font-family: "inclusive sans", "Henderson-sans-basic", sans-serif;
}

@media (max-width: 991.98px) {
  .h2,
  .h3,
  h2,
  h3 {
    font-size: 30px;
  }
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Imports */
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/contact";
@import "pages/overons";
@import "pages/login";

// default en omhoog sliden
.fadeIn {
  opacity: 0 !important;
  transform: translateY(10vh);
  transition: all 0.5s ease;
  transition-delay: 0;
  transition-delay: var(--delay, 0);
}

// naar links
.fadeIn[data-side="right"] {
  transform: translate(10vh);
}

// naar rechts
.fadeIn[data-side="left"] {
  transform: translate(-10vh);
}

// naar beneden
.fadeIn[data-side="down"] {
  transform: translateY(-10vh);
}

.fadeIn.visible {
  opacity: 1 !important;
  transform: translate(0);
}

.fadeIn:nth-child(3n + 1) {
  transition-delay: 75ms;
}

.fadeIn:nth-child(3n + 2) {
  transition-delay: 0.15s;
}

.fadeIn:nth-child(3n + 3) {
  transition-delay: 0.225s;
}

.fadeIn:nth-child(3n + 4) {
  transition-delay: 0.3s;
}

.fadeIn:nth-child(3n + 5) {
  transition-delay: 0.375s;
}

.fadeIn:nth-child(3n + 6) {
  transition-delay: 0.45s;
}

.fadeIn:nth-child(3n + 7) {
  transition-delay: 0.525s;
}

.fadeIn:nth-child(3n + 8) {
  transition-delay: 0.6s;
}

.fadeIn:nth-child(3n + 9) {
  transition-delay: 0.675s;
}

.object-fit-cover {
  object-fit: cover;
}

/* Flip animation */
@keyframes flip {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg); /* Complete flip */
    opacity: 1;
  }
}

/* Apply the flip effect to the .flip class */
.flip {
  animation: flip 0.6s ease forwards; /* Duration and easing for the flip effect */
}
