@import "variables";
@import "~bootstrap";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

//To ensure that when the down arrow is clicked, the page will smoothly scroll to the section with the ID #content
html {
  scroll-behavior: smooth;
}

body {
  background-color: #405f4f;
}

body {
  color: #fff;
  font-family: Inclusive Sans, sans-serif;
  font-size: 20px;
  line-height: 35px;
  text-wrap: pretty;
}

a:any-link {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

// .h2, h2 {
//     color: #fff;
//     font-size: 39px;
//     font-weight: 300;
//     line-height: 60px;
// }

//  h1 {
//    font-size: 28px;
// }

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: "Henderson-sans-basic", sans-serif;
}

p {
  font-family: "Inclusive Sans", sans-serif;
}

@media (max-width: 991.98px) {
  .h2,
  .h3,
  h2,
  h3 {
    font-size: 30px;
  }
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Imports */
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/contact";
@import "pages/overons";
@import "pages/login";
